<div class="container container-invoice">
  <div class=" d-flex justify-content-between">
    <div >
      <%= image_tag current_user.photo %>
      <p><%= current_user.first_name %><%= current_user.last_name %></p>
      <p><%= current_user.address %></p>
      <strong><p id="invoice-object">Objet : <%= @invoice.object %></p></strong>
    </div>
    <div class="text-end">
      <p>Facture n° <%= invoice_number(@invoice) %></p>
      <p><%= @invoice.date.strftime("%d/%m/%Y") %></p>
      <p><%= @invoice.selected_client.client.name %></p>
      <p><%= @invoice.selected_client.client.address %></p>
    </div>
  </div>

  <div class="row justify-content-center table-row">
    <div class="col-2"><strong><p>Référence</p></strong></div>
    <div class="col-2"><strong><p>Désignation</p></strong></div>
    <div class="col-2"><strong><p>Quantité</p></strong></div>
    <div class="col-2"><strong><p>Unité</p></strong></div>
    <div class="col-2"><strong><p>PU HT</p></strong></div>
    <div class="col-2"><strong><p>TOTAL HT</p></strong></div>  
  </div>
  <div class="row justify-content-center">
    <% @items.each do |item| %>
      <div class="col-2"><strong><p><%= item.id %></p></strong></div>
      <div class="col-2"><strong><p><%= item.name %></p></strong></div>
      <div class="col-2"><strong><p><%= item.quantity %></p></strong></div>
      <div class="col-2"><strong><p><%= item.unit %></p></strong></div>
      <div class="col-2"><strong><p><%= item.price %></p></strong></div>
      <div class="col-2"><strong><p><%= total_price(item.quantity, item.price) %></p></strong></div>  
    <% end %>
  </div>
</div>



