
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.address %></p>
      <p>IBAN : <%= @user.iban %> BIC : <%= @user.bic %></p>
      <p>SIREN : <%= @user.siren %></p>
    </div>
  </div>
</div>