<!DOCTYPE html>
<html>
  <head>
    <title>Facturier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body onload='number_pages'>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%# <div id="header"> %>
      <%# <%= wicked_pdf_image_tag 'mysite.jpg' %> 
    <%# </div> %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
